<!-- <%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :price_in_cents %><br>
    <%= f.number_field :price_in_cents %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %> -->
<br>
  <form accept-charset="UTF-8" action="/products" class="new_product"
      id="new_product" method="post" style="text-align: center; background-color: lightgrey">
  <input name="utf8" type="hidden" value="&#x2713;" />
  <input name="authenticity_token" type="hidden"
         value="NNb6+J/j46LcrgYUC60wQ2titMuJQ5lLqyAbnbAUkdo=" /><br>
  <label for="product_name">Name</label><br>
  <input id="product_name" name="product[name]" type="string" />

  <br>
  <br>

  <label for="product_description">Area(s) of Expertise</label><br>
  <input id="product_description" name="product[description]" type="text" />

  <br>
  <br>

  <label for="product_picture">Profile Picture</label><br>
  <input id="product_picture" name="product[picture]"
         type="text" />
  <br>
  <br>

  <label for="price_in_cents">Expected $/Project</label><br>
  <input id="price_in_cents"
         name="product[price_in_cents]" type="price_in_cents" />

  <br>
  <br>

  <input class="btn btn-primary" name="commit" type="submit"
         value="Submit" style="margin-bottom: 1.5em"/><br>
  </form>
